<div class="my-4 p-4 container rounded shadow d-flex flex-wrap">
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap position-relative" @onclick="OnSortAscending">
            <img src="img/sort-ascending-white.svg" alt="sort"/>
            Sort ascending
            @if (IsSortAscending)
            {
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary rounded-circle">
                    <span class="visually-hidden">Selected</span>
                </span>
            }
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap position-relative" @onclick="OnSortDescending">
            <img src="img/sort-descending-white.svg" alt="sort"/>
            Sort descending
            @if (IsSortDescending)
            {
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary rounded-circle">
                    <span class="visually-hidden">Selected</span>
                </span>
            }
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap" @onclick="OnDeleteAll">
            <img src="img/delete-white.svg" alt="delete"/>
            Delete all
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap" @onclick="OnSampleData">
            <img src="img/sample-data-white.svg" alt="sample-data"/>
            Sample data
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap" @onclick="OnCollapseAll">
            <img src="img/collapse-all-white.svg" alt="collapse"/>
            Collapse all
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-dark text-nowrap" @onclick="OnExpandAll">
            <img src="img/expand-all-white.svg" alt="expand"/>
            Expand all
        </button>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnSortAscending { get; set; }

    [Parameter]
    public EventCallback OnSortDescending { get; set; }

    [Parameter]
    public EventCallback OnDeleteAll { get; set; }

    [Parameter]
    public EventCallback OnSampleData { get; set; }

    [Parameter]
    public EventCallback OnCollapseAll { get; set; }

    [Parameter]
    public EventCallback OnExpandAll { get; set; }

    [Parameter]
    public bool IsSortAscending { get; set; }
    
    [Parameter]
    public bool IsSortDescending { get; set; }

}