@using TreeStructure.Services
@using TreeStructure.Models
@inject NodeService NodeService

<li style="list-style-type: none">
    <!-- TODO: Fix this warnings -->
    <TreeItem Text="@RootNode.Name" Id="@((int)RootNode.Id)"></TreeItem>
    @if (NodeService.GetChildren((int)RootNode.Id) is var children && children.Any())
    {
        <ul>
            @foreach (var child in children)
            {
                <Tree RootNode="@child"/>
            }
        </ul>
    }
</li>

@code {

    [Parameter]
    public Node RootNode { get; set; }

}