@using TreeStructure.Services
@using TreeStructure.Models
@inject NodeService NodeService

<li>
    <p>@RootNode.Name <span class="text-muted">#@RootNode.Id</span></p>
    <!-- TODO: Fix this warning -->
    @if (NodeService.GetChildren((int)RootNode.Id) is var children && children.Any())
    {
        <ul>
            @foreach (var child in children)
            {
                <Tree RootNode="@child"/>
            }
        </ul>
    }
</li>

@code {

    [Parameter]
    public Node RootNode { get; set; }

}