@page "/"
@using TreeStructure.Services
@using TreeStructure.Models

@inject NodeService NodeService

<!-- form for creating nodes -->

<div class="mt-5 p-5 container rounded shadow">
    <form>
        <label for="nodeName" class="form-label">Node name:</label>
        <input type="text" class="form-control" id="nodeName" @bind="_nodeName">
        <button type="submit" class="btn btn-primary mt-3" @onclick="HandleSubmit">Add node</button>
    </form>
</div>

@code {

    private string? _nodeName;

    private int? _selectedNodeId;

    private void HandleSubmit()
    {
        if (_nodeName is null)
            return;
        
        // create node
        var node = new Node(_nodeName, null, _selectedNodeId);
        
        // add node to database
        NodeService.AddNode(node);
    }

}