@using TreeStructure.Services
@inject NodeService NodeService

<div class="modal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">
                    Warning!
                </h3>
                <button type="button" class="btn-close" @onclick="@OnClose"></button>
            </div>

            <div class="modal-body">
                <p>This node has children, if you delete it, they will die.</p>
                <p>Are you sure you want to kill them all?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" @onclick="@OnClose">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick="@OnDelete">Delete</button>
            </div>

        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnClose { get; set; }
    
    [Parameter]
    [EditorRequired]
    public int NodeId { get; set; }

    void OnDelete()
    {
        NodeService.DeleteNodeRecursively(NodeId);
        OnClose.InvokeAsync();
    }

}